body{
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #20232a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#clock{
    font-size: 3em;
}

#date{
    font-size: 25px;
}